<div class="fullBody">
  <!-- Menu lateral -->
  <div class="leftSide">
    <img src="./assets/logo.png" width="80%" alt="Logo" />
    <ul>
      <li routerLink="/products">Gerenciar Produtos</li>
      <li>Gerenciar Estoque</li>
    </ul>
  </div>

  <!-- Conteúdo principal -->
  <div class="container">
    <!-- Barra de pesquisa -->
    <div class="nav">
      <div class="pesquisa">
        <div class="search-group">
          <mat-form-field appearance="outline" class="searchInput">
            <mat-label>Pesquisar produto</mat-label>
            <input matInput type="text" [(ngModel)]="filter" (keyup.enter)="buscarProdutos()" />
            <button mat-icon-button matSuffix aria-label="Buscar" (click)="buscarProdutos()">
              <mat-icon>search</mat-icon>
            </button>
            <button *ngIf="filter" mat-icon-button matSuffix aria-label="Remover filtro" (click)="rmvFilter()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Categorias agrupadas horizontalmente -->
    <div class="categoria-bar">
      <div class="categoria-card" *ngFor="let categoria of categorias" (click)="selecionarCategoria(categoria.idCategoria)">
        <div class="categoria-imagem-wrapper">
          <img [src]="categoria.imagemCategoria" alt="{{ categoria.nomeCategoria }}">
        </div>
        <div class="categoria-titulo">{{ categoria.nomeCategoria }}</div>
      </div>
    </div>

    <hr>

    <!-- Produtos da categoria -->
    <div class="produto-container">
      <mat-card *ngFor="let produto of produtosSelecionados" class="produto-card" (click)="add(produto)">
        <mat-card-header>
          <mat-card-title>{{ produto.nomeProduto }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ produto.descricaoProduto }}</p>
          <p><strong>R$ {{ produto.precoVenda | number:'1.2-2' }}</strong></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- Carrinho -->
<div class="items" [class.visible-mobile]="carrinhoVisivel" [class.hidden-mobile]="!carrinhoVisivel">
  <div class="produtos">
    <h2>Produtos no carrinho</h2>
    <mat-chip-list>
      <mat-chip *ngFor="let produto of carrinho" selected (removed)="remove(produto)">
        {{ produto.nomeProduto }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div class="total">
    <h2>Carrinho</h2>
    <p class="totalValue">Total: R$ {{ total.toFixed(2) }}</p>
    <button class="buy" mat-raised-button>Finalizar Compra</button>
  </div>
</div>

<button class="toggle-cart-btn" matBadge="{{itensCount}}" matBadgeColor="warn"  (click)="toggleCarrinho()">
  {{ carrinhoVisivel ? 'Fechar Carrinho' : 'Ver Carrinho' }}
</button>
